<div class="container-fluid">
  <table class="table">
    <tbody>
      <tr>
        <td><strong>First Name</strong></td>
        <td>{{selected.firstName}}</td>
        </tr>
        <tr>
        <td><strong>Last Name</strong></td>
        <td>{{selected.lastName}}</td>
        </tr>
        <tr>
        <td><strong>Email</strong></td>
        <td>{{selected.email}}</td>
        </tr>
        <tr>
        <td><strong>Phone</strong></td>
        <td>{{selected.phone}}</td>
        </tr>
        <tr>
        <td><strong>Date Of Birth</strong></td>
        <td>{{selected.birthDate}}</td>
        </tr>
        <tr>
        <td><strong>Notes</strong></td>
        <td>{{selected.notes}}</td>
      </tr>
    </tbody>
  </table>
  <a href="#/update/{{selected.email}}">Update</a>
</div>
